node_modules

##keyFiles

*.pem

##AWSLogin

*.sh

##databaseLoginInfo

database/login.js
env.txt

##largeData

data_generation/images
data_generation/pg/pg_data
data_generation/mongo/mongo_data

##dsStore

*.DS_store

##bundle

public/bundle.js